form{
    border: 2px solid blue;
    margin: auto;
    width: 35%;
    padding: 40px;
    background-color: #96CEB4;
}

div{
    width: 900px; height: 610px; margin:35px auto; font-family: 'Raleway', sans-serif; text-align: center;
}